.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .login-container h1 {
    margin: 10px 0;
    font-size: 24px;
    text-align: center;
  }
  
  .login-input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }